<!-- <div class="text-layout">
  <h1>{{nombre | lowercase}}</h1>


  <button pButton type="button" icon="pi pi-check" iconPos="right" label="Imprimir nombre"
    class="p-button-help"></button>

  <p-card [header]="nombre | titlecase">
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      Molestiae recusandae similique inventore aspernatur nam,
      minima accusantium aliquam nihil. Doloremque aliquam sequi commodi?
      Vitae, odit. Repellendus amet perspiciatis
      tempore et doloribus?
    </p>
    <ng-template pTemplate="footer">
      El contenido del footer va acá
    </ng-template>
  </p-card>


</div> -->

<app-menu></app-menu>
<router-outlet></router-outlet>
